
<div class="layout-preloader-container fixed inset-0 z-50 flex items-center justify-center bg-black">
    <div style="display: block">
        <div style="display: flex; justify-content: center; align-items: center">
            <div class="line" style="display: block">
                <i class="ears"></i>
                <div class="panda">
                    <div class="face">
                        <div class="eyes"></div>
                        <div class="nose"></div>
                        <div class="mouth"></div>
                        <div class="spots"></div>
                        <div class="blush"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex; align-items: center; justify-content: center; margin-top: -40px">
            <div class="loading-text">Cargando<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></div>
        </div>
    </div>
</div>
